.navbar-menu {
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;

    a.navbar-item {
        color: $secondary-two;
        border-bottom: 1px solid lightgrey;
        padding-top: 15px;
        padding-bottom: 15px;

        @include from($desktop){
            border-bottom: 2px solid #fff;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        &:focus,
        &:hover,
        &.active {
            border-bottom: 1px solid $primary-two;
            color: #fff;
            background: $primary-two;

            @include from($desktop){
                color: $secondary-two;
                background: initial;
                border-bottom: 2px solid $primary-two;
            }
        }
    }
}