.ds-accordion {
    color: $secondary-one;
    cursor: pointer;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    // transition: 0.2s;
    padding: 0 20px 0 0;
    position: relative;

    i {
        border: solid $primary-two;
        border-width: 0 2px 2px 0;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        padding: 3px;
        // transition: transform 0.2s ease-in-out;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

    &.active {

        i {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }

    &:hover {
        opacity: 0.6;
    }
}

.ds-accordion-panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    hr {
        height: 1px;
    }
}
