.content-box {
    // border: solid 1px ;
    box-shadow: 0 0 2px 0 rgba(0,101,242,0.10), 0 1px 4px 0 rgba(0,101,242,0.10);
    .content {
        padding: 20px 30px;

        @include from($tablet){
            padding: 10% 15%;
        }
    }
}
