.site-footer {
    p, a, .title {
        color: #fff;
    }

    p, a {
        font-size: 14px;
    }

    a {
        font-weight: 700;
    }
}

.ds-footer-section {
    padding-top: 80px;
    padding-bottom: 130px;

    background: #022B3A;
    background-image: linear-gradient(135deg, rgba(5,86,108,0.40) 0%, rgba(2,43,58,0.40) 100%);
}

.copyright-bar {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 14px;
    color: #fff;

    background: #022B3A;
}