.ds-hero-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    
    &.is-center {
        background-image: url(../../assets/img/background-houses.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: left bottom;
    }

    @include from($tablet){
        padding-top: 100px;
        padding-bottom: 100px;
        background-size: 40%;
    }

    &::before {
        content: '';
        top: 0;
        left: 0;
        display: block;
        position: absolute;
        opacity: 11%;
        height: 100%;
        width: 100%;
        background-image: $primary-gradient;
    }
    .ds-hero-container {
        .columns-reversed {
            flex-direction: row-reverse;
        }
        .title {
            font-family: 'Roboto';
        }
        .title,
        .subtitle {
            color: $secondary-one;
        }

        .is-center {
            justify-content: center;
            
            .title,
            .subtitle {
                text-align: center;
            }

            &.hero-text{
                text-align: center;
            }
        }
        
        .hero-text {
            margin-bottom: 30px;
        }

        .ds-cta-description {
            color: $secondary-one;
            font-size: 14px;
        }
        .ds-text-links {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            @include from($tablet){
                flex-direction: row;
            }

            a {
                display: block;
                // text-decoration: underline $primary-two;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 18px;
                font-weight: 700;
                border-bottom: 1px solid $primary-two;
                & + a {
                    margin-top: 10px;
                }

                @include from($tablet){
                    margin-top: 0 !important;
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
        }
    }
}