.ds-news-column {
    .ds-news-thumbnail {
        height: 100%;
        box-shadow: 0 0 2px 0 rgba(0,101,242,0.10), 0 1px 4px 0 rgba(0,101,242,0.10);
        display: flex;
        flex-direction: column;
    
        .title,
        .ds-news-tags {
            padding: 24px;
        }
    
        .title {
            margin-bottom: 0;
        }
    
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

        a {
            display: block;
        }
    
        .ds-news-tags {
            padding-top: 0;
            margin-top: auto;
    
            .ds-news-tags-seperator {
                margin-left: 12px;
                margin-right: 12px;
            }
        }
    }
}

//Archive pagination
.archive-navigation {
    display: flex;
    justify-content: center;

    li a,
    li a:hover,
    li.active a,
    li.disabled {
        font-size: 18;
        font-weight: 700;
        text-decoration:none;
        cursor: pointer;
        padding: 3px;
    }

    li {
        display: inline;
    }

    li a:hover,
    li.active a {
        opacity: 0.6;
    }
}

.ds-news-single {
    .ds-news-thumbnail-img {
        height: auto;
        width: 100%;
        max-height: 440px;
        object-fit: cover;
        margin-bottom: 15px;
    }
    .ds-news-archive-link {
        // font-size: 18px;
        // font-weight: 700;
        text-decoration: underline;
    }

    .ds-news-thumbnail-caption {
        font-weight: 600;
        color: $secondary-one;
        margin-bottom: 20px;
    }

    hr {
        margin-top: 0;
        margin-bottom: 45px;
    }
}

.ds-news-sidebar {
    li {
        padding-top: 12px;
    }
    ul {
        margin-bottom: 70px;
    }
}