.acf-form {
    .acf-fields.-top.-border {
        border: none;
    }

    .acf-required {
        color: $primary-two;
    }
    
    .acf-field-group + .acf-field-group{
        margin-top: 15px;
    }
    
    .acf-field-group > .acf-label {
        font-size: 18px;
        padding-bottom: 15px;
        border-bottom: solid 1px #F7F7F7;
    }
    
    .acf-label {
        font-family: $text-font;
    }
    
        .acf-fields>.acf-field {
        .acf-input .acf-label {
            margin: 0 0 3px;
            label {
                font-size: 14px;
                font-weight: 400;
            }
        }
        border: none;
        padding: 8px 0;
        
        textarea,
        select,
        input {
            box-sizing: border-box;
            background-color: #F7F7F7;
            border: none;
            padding: 12px 16px 10px 16px;
            font-size: 16px;
            border-radius: 0;
            font-family: $text-font;
            border-bottom: 2px solid #F7F7F7;
    
            &:focus {
                border-bottom: 2px solid #ebebeb;
                outline: -webkit-focus-ring-color auto 0;
            }
        }
    
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            // appearance: none;       /* Remove default arrow */
            background-position: right 15px center;
            background-repeat: no-repeat;
            background-image: url(../../assets/img/select-arrow.png);   /* Add custom arrow */
         }
    
         input {
            background-image: none !important;
         }
    }
}
