$orange: #F97122;

$primary-one: #00a6fb;
$primary-two: $orange;

$secondary-one: #00689B;
$secondary-two: #022B3A;

$header-font: 'Roboto';
$text-font: 'Open Sans';

$primary-gradient: linear-gradient(180deg, #00A6FB 0%, #FEFFFE 46%, #00A6FB 100%);
$primary: $orange;
$control-radius: 0;

@import "../../../../node_modules/bulma/bulma.sass";
@import "elements/button";
@import "components/navbar";
@import "draadschaap/ds-hero";
@import "draadschaap/ds-accordion";
@import "draadschaap/ds-news";
@import "draadschaap/ds-content-box";
@import "draadschaap/ds-footer";
@import "draadschaap/ds-signrequest-form";

@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

.title, h1, h2, h3, h4, h5, h6, a, p, li, select, label, button {
    font-family: 'Open Sans';
    color: $secondary-two;
}

a, button {
    &:hover {
        opacity: 0.8;
    }
}

.title, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.title.is-1 {
    font-size: 60px;
}

.title.is-2 {
    font-size: 40px;
}

.title.is-3 {
    font-size: 24px;
}