#new-signrequest {
    height: 250px;
    background-color:#3f72da;
    position: relative;

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        background-image: url(../../assets/img/signrequest-logo.svg);
    }

    .acf-form-submit, .acf-fields {
        display: none;
    }
}